# Настройки для проекта Online Store
# Скопируйте этот файл в .env и отредактируйте

DEBUG=True
SECRET_KEY=замените-этот-ключ-на-свой-секретный-ключ
ALLOWED_HOSTS=localhost,127.0.0.1
DATABASE_URL=sqlite:///db.sqlite3
LANGUAGE_CODE=ru-ru
TIME_ZONE=Europe/Moscow